:root{
    --primary: #fff;

}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family:'Bodoni Moda', serif; 
}

.btn--primary{
    background-color: var(--primary);
    color: #f7e7ce;
    border: 1px solid var(--primary)
}

.btn--outline{
    background-color: transparent;
    color: #f7e7ce;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding:8px 20px;
    font-size:20px;

}

.btn--large{
    padding: 12px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover{
    background: #fff;
    color: #A7727D;
    transition: all 0.3s ease-out;

}