html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .footer {
    background-color: #a9ba9d;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-link {
    text-decoration: none;
    color:#445a3c;
    margin-left: 15px;
  }
  
  .icon-large svg {
    width: 32px;
    height: 32px;
    color: #445a3c;
   
  }
  
  .email {
    margin-left: 10px;
    color: #445a3c;
  }
  
  .email-icon {
    color: #445a3c;
    margin-left: 20px;
  }
  
  h3 {
    color: #445a3c;
  }
  
  .icon-wrapper {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 767px) {
    h3{
      margin-bottom: 0px;
    }
    footer{
      height: 30px;
      font-size: 12px;
    }
    .footer-container{
      flex-direction: row;
    }
  
    
    
  }
  
    
    

  

