* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Bodoni Moda', serif; 
    
  }

  body{
    background-image: url('./assets/forjess.jpeg');
  }

  .link-style {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  .nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin: 0; 
  }

  .nav-item :hover {
    text-shadow: 0 0 5px #f8f2f2; 
    color: #6F7259;

  }
  
  .nav-links {
    text-decoration: none; 
   color: #445a3c;
    padding: 10px;    
    display: inline-block; 
  }

  .guidelines {
    width: 75%;
    margin-left: 180px;

  }
  
  



  
