h1{
   margin-top: 3px;
   font-family:'Bodoni Moda', serif; 
   font-size: 50px;
   margin-left: 30px;
   color: #6F7259;
   text-align: center;
}
 
 .rectangle-text {
   margin-top: 0px;
   padding: 0px;
   display: inline-block;
   width: 400px;
   height: 600px;
   margin-left: 45px;
   font-size: 20px;
   background-color: #A7727D;
 }
 .containers{
  width:90%;
  max-width:1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .description{
  margin:20px 0;
  font-weight: 500;
  line-height: 25px;
  color:#ccc
 }
  
 .right{
  width:50%;
  min-height: 400px;
  background-color: #A7727D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  margin-left: -150px;
 }
 .right p {
  margin: 20px;
  font-weight: 500;
  line-height: 25px;
 }

 section{
  min-width: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
 }
 .bout-me-container{
  width:90%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
 }

 .left{
  width: 50%;
  height: 600px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-image: url(./assets/spaflower.jpeg);
  background-color: #efefef;

}

@media only screen and (max-width: 768px){
  .bout-me-container{
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right{
    width: 80%;
    margin:0;
    margin-top: -100px;
  
  }
  .description{
    margin-bottom: 200px;
  }
}
 @media screen and (max-width: 767px) {
   .rectangle-text {
     width: 90%;
     height: auto;
     margin: 20px auto;
     margin-left: 0;
   }

 }



.oval-image {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;

}



.sign{
  font-family: 'Parisienne', cursive;
  color:#DBA39A;
  font-size: 40px;
 margin-top: 20px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;

 
}

.services-container :hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.service-box {
  width: calc(45% - 10px); 
  margin-top: 20px;
  margin-left:30px;
  margin-right: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9f5;
}


.service-box :hover {
  box-shadow: none;
}



@media screen and (max-width: 768px) {
  .service-box {
    font-size: 12px;
    width: 100%;
    height: 150px;
  }

  h3{
    margin-top: -12px;
  }
  
}
 
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
  
}

.sideNote{
   font-family: 'Bodoni Moda', serif;;
}
.scheduleApt{
  text-align: center;
  margin-top: 40px;
  font-family: 'Bodoni Moda', serif;
  color:#6F7259;
}



.button-52 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #A7727D;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: rgb(232, 220, 202);
}

.button-52:after {
  content: "";
  background-color: #DBA39A;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}



.slideshow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.image-container {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  box-sizing: border-box;
  padding: 0.5rem;
}

.image {
  width: 100%;
  border-radius: 0.25rem;
}

.image:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}



