h1{
   margin-top: 3px;
   font-family: 'Sacramento', cursive;
   font-size: 50px;
   margin-left: 30px;
   color: #6F7259;
   text-align: center;
}
 
 .rectangle-text {
   margin-top: 10px;
   padding: 10px;
   display: inline-block;
   width: 500px;
   height: 100px;
   margin-left: 45px;
   font-size: 20px;
 }
 
 .border-boutme {
   color: #6F7259;
   margin-top: 70px;
   border: solid #f7e7ce 2px;
   width: 600px;
   height: 300px;
   margin-left: 25px;
 }
 

 @media screen and (max-width: 767px) {
   .rectangle-text {
     width: 90%;
     height: auto;
     margin: 20px auto;
     margin-left: 0;
   }
 
   .border-boutme {
     width: 90%;
     height: auto;
     margin: 50px auto;
     margin-left: 0;
   }
 }

 
 .selfie{
  width: 400px;
  position: absolute;
  left: 800px;
  top: 155px;
  border-radius: 50%;
 }
 
 .image-and-signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; } 


.oval-image {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  overflow: hidden;
}



.sign{
  font-family: 'Parisienne', cursive;
  color: #6F7259;
  font-size: 40px;
 margin-top: 20px;

}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;

 
}

.services-container :hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.service-box {
  width: calc(45% - 10px); 
  margin-top: 60px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
}


.service-box :hover {
  box-shadow: none;
}



@media screen and (max-width: 768px) {
  .service-box {
    width: 100%;
  }
}
 
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
  
}

.sideNote{
   font-family: 'Bodoni Moda', serif;;
}
.scheduleApt{
  text-align: center;
  margin-top: 40px;
  font-family: 'Bodoni Moda', serif;
  color:#6F7259;
}



.button-52 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #A7727D;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: rgb(232, 220, 202);
}

.button-52:after {
  content: "";
  background-color: #DBA39A;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}


